In [4]:
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_digits

In [6]:
digits = load_digits()
dir(digits)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [13]:
import pandas as pd
x = pd.DataFrame(digits.data)
y = pd.DataFrame(digits.target)

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [21]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train, y_train)
model.score(x_test, y_test)

C:\Users\prith\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.9777777777777777

In [25]:
print(model.predict(x_test))
y_test

[0 7 4 5 4 2 5 4 7 6 5 3 3 2 9 3 1 3 9 5 8 7 8 6 7 1 0 9 5 1 5 0 2 8 4 5 1
 2 6 4 8 8 1 0 1 6 0 3 2 0 8 7 8 1 0 1 1 8 9 2 4 4 0 2 4 4 6 5 3 4 4 4 6 4
 1 0 2 2 5 5 1 5 4 2 7 5 2 6 5 6 7 5 7 2 9 1 1 7 5 2 1 7 0 5 1 4 9 9 2 5 6
 0 9 4 9 4 5 9 8 2 4 7 5 2 5 5 2 7 3 0 2 5 1 0 6 5 8 4 7 2 8 5 6 5 4 8 4 3
 0 9 7 5 3 7 1 2 0 3 8 9 4 5 8 3 7 9 8 4 6 5 7 3 5 4 7 6 8 9 5 5 7 7 7 7 4
 8 7 7 8 9 6 6 1 3 3 8 8 2 5 3 2 5 3 0 4 7 9 7 0 1 6 2 5 3 5 1 7 5 6 7 2 7
 2 9 0 5 6 1 5 7 8 7 5 4 4 5 7 6 2 5 4 3 3 1 3 8 6 2 7 7 1 4 8 2 5 2 5 9 6
 5 2 2 6 4 4 8 3 2 0 8 7 6 3 5 3 4 4 0 5 3 4 0 4 4 0 3 0 3 3 6 4 3 7 7 3 3
 6 4 8 2 3 3 9 2 0 1 6 2 8 6 4 9 6 6 9 3 3 0 4 7 0 3 6 7 9 4 1 0 4 4 5 0 9
 2 2 6 7 8 1 7 0 6 8 8 4 3 9 2 7 1 4 7 2 9 1 8 4 2 0 9]

      0
935   0
1243  7
780   4
488   5
1022  4
...  ..
955   8
1777  4
658   2
1317  0
1068  9

[360 rows x 1 columns]