In [64]:
import pandas as pd
from sklearn.model_selection import train_test_split

df = pd.read_csv("spam.csv")
df.Category.replace({
    "ham" : 0,
    "spam": 1
}, inplace = True)
df

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            1  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         1  This is the 2nd time we have tried 2 contact u...
5568         0               Will ü b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [65]:
# from sklearn.feature_extraction.text import CountVectorizer

# vectorizer = CountVectorizer()
# msg = vectorizer.fit_transform(df.Message)
# # msg = msg.toarray()
# msg = pd.DataFrame(msg.toarray())
# df = pd.concat([df, msg], axis = "columns")
# df

In [66]:
x_train, x_test, y_train, y_test = train_test_split(df.Message, df.Category, test_size = 0.005)

In [67]:
# from sklearn.naive_bayes import GaussianNB
# model = GaussianNB()
# model.fit(x_train, y_train)
# print(model.score(x_test, y_test))
# print(y_test)
# model.predict(x_test)

In [80]:
from sklearn.pipeline import Pipeline
from sklearn.naive_bayes import MultinomialNB
model = Pipeline([
    ('vectorizer', CountVectorizer()),
    ('model', MultinomialNB())
])
model.fit(x_train,  y_train)
model.score(x_test, y_test)
print(y_test)
model.predict(x_test)

1917    0
2127    0
625     0
3594    0
4646    0
3398    0
1926    0
2206    0
4086    1
5060    1
4901    1
3906    1
4762    0
1449    1
2352    1
897     0
452     0
3491    0
2559    0
1062    0
2712    0
5167    0
3157    0
1942    1
4575    0
5474    0
2029    0
4490    0
Name: Category, dtype: int64

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0], dtype=int64)